div,
body,
ul form,
input,
textarea,
select {
    margin: 0px;
    padding: 0px;
}

p {
    line-height: 1.5em;
}

body {
    background: #dedede;
}

.container {
    position: relative;
}

.top {
    padding: 35px;
    background: #333333 url(../images/qinfenfeng.png)no-repeat left 15px;
    border: 0px;
    color: #fff;
    margin: 0px;
}

.top li {
    float: right;
    margin: 0px;
    padding-right: 30px;
    font-size: 10px;
}

.top a {
    color: white;
    text-decoration: none;
}

.body1 {
    width: 800px;
    margin: 30px;
    padding: 30px;
    background: white;
    right: 30%;
    float: left;
}

.body2 {
    width: 800px;
    margin: 30px;
    padding: 30px;
    background: white;
    right: 30%
}

.body2 ul {
    list-style: none;
}

.body3 {
    width: 800px;
    margin: 30px;
    padding: 30px;
    background: white;
}

.body4 {
    width: 800px;
    margin: 30px;
    padding: 30px;
    background: white;
}

.body5 {
    margin: 30px;
    padding: 30px;
    background: white;
    position: absolute;
    right: 15px;
    top: 116px;
    width: 530px;
    margin: 0 15px;
    padding: 20px 20px;
}

img {
    width: 800px;
}

#t {
    padding: 0px;
    margin: 0px;
    border: none;
    width: 800px;
}

label {
    float: left;
    width: 10em;
    margin-right: 4em;
    text-align: right;
}

footer {
    text-align: center;
    background: black;
    color: white;
    height: 50px;
    font-size: 12px;
    padding-top: 28px;
    margin: 0;
}